<div class="header-title">Home - Country Details</div>
<div class="table-cont" >
    <div class="table-wrp">
        <div class="table-row">
          <div class="table-col">Country Name</div>
          <div class="table-col">{{countryDetailsObj.name}}</div>
        </div>
        <div class="table-row">
          <div class="table-col">Capital</div>
          <div class="table-col">{{countryDetailsObj.capital}}</div>
        </div>
        <div class="table-row">
          <div class="table-col">Region</div>
          <div class="table-col">{{countryDetailsObj.region}}</div>
        </div>
        <div class="table-row">
          <div class="table-col">Sub region</div>
          <div class="table-col">{{countryDetailsObj.subregion}}</div>
        </div>
        <div class="table-row">
          <div class="table-col">Population</div>
          <div class="table-col">{{countryDetailsObj.population}}</div>
        </div>
        <div class="table-row">
          <div class="table-col">Area</div>
          <div class="table-col">{{countryDetailsObj.area}}</div>
        </div>
        <div class="table-row">
          <div class="table-col">Alpha3code</div>
          <div class="table-col">{{countryDetailsObj.alpha3Code}}</div>
        </div>
      </div>
</div>